@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}
.movie-slider{

 box-sizing: border-box
}
.MovieSlider-title{
     font-family: 'Paperozi';
     font-size: 2rem;
     padding-top: 50px;
}
 .container{
  margin:0 auto;
 }
 .carousel-container{
   margin:0 auto;
  height: 500px;
  overflow: hidden;
  
 }




@media all and (max-width:1024px) {
 .carousel-container{
   margin:0 auto;
  height: 400px;
  
 }


}

