.page-item{
  color:#d52e08;
  background-color: #000;
}
.page-link{
  color: #f5f5f5;
   background-color: #000;
   border-bottom-color:#000;
     border: 0;
}
.pagination.active  {
 background-color: none;

}
.page-link:hover {
  background-color: #d52e08;
  
  color:#ffffff;
}
.page-item.disabled .page-link{
  background-color: #5c0707;
}
.page-item:hover .page-link{
  background-color: #ab1515;
}
.page-item.active .page-link{
  background-color: #ab1515;
    color: white;     
}
.page-item.visited  .page-link{
  background-color: #ab1515;
    color: rgb(222, 43, 43);     
}

