


.custom-gray-control {
  background-color: #4d4c4c !important;
  color: #000000 !important; /* 폰트 색상 */
} 
 .custom-gray-control:focus {
  background-color: #e0e0e0 !important;
 
}
.form-control::placeholder { /* Standard syntax */
 
  color: rgb(240, 237, 237) !important;
  opacity: 1 !important; /* Firefox에서 기본으로 적용되는 투명도 제거 */
}
.form-control:focus::placeholder { /* Standard syntax */
  color: rgb(71, 71, 71) !important;
}